@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@layer base {
	article a {
		@apply text-indigo-500;
		@apply underline;
	}
	article a:hover {
		@apply hover:bg-indigo-500;
		@apply hover:text-white;
	}
	article h4 {
		@apply text-lg;
	}
}
@tailwind components;
@tailwind utilities;
